<div class="modal-overlay"></div>
<div class="modal">
  <div class="modal-header">
    <h2>Need Help?</h2>
    <button
      type="button"
      class="close-button"
      {{on "click" this.onClose}}
    >X</button>
  </div>z
  <div class="modal-body">
    <p>If you need help, please contact us:</p>
    <a href="mailto:support@example.com">support@example.com</a>
  </div>
</div>